{% extends 'hackernews/base.jinja' %}

{% block title %}Add Link{% endblock %}

{% block content %}

<center>
	<table  class="main_table" >
		<tr>
			<td bgcolor="#ff6600">
				<table class="header" cellspacing="0" cellpadding="0" >
					<tr>
						<td class="logo-cell"><a href="{{url ('hackernews:home')}}"><img src="https://news.ycombinator.com/y18.gif" class="logo"></a></td>
						<td style="color: #000000;"><strong>ADD NEW LINK</strong></td>
						
						<td class="username-cell">{{ request.user.username }}
							{% if user.is_authenticated %}
								| <a href="{{url ('hackernews:logout')}}">logout</a>
							{% else %}
								<a href="{{url ('hackernews:login')}}">login</a>
							{% endif %}
						</td>	
					</tr>
				</table>
			</td>
		</tr>
		<tr class="gap"></tr>
		<tr>
			<td style="padding: 18px">
				<table cellspacing="0" cellpadding="0">
					<form method="post">
						{% csrf_token %}
						<div class="form-group">
							{{ form.title.errors }}
							<label for="{{ form.title.id_for_label }}">Title:</label>
							{{ form.title }}
						</div>
						<div class="form-group">
							{{ form.url.errors }}
							<label for="{{ form.url.id_for_label }}">URL:</label>
							{{ form.url }}
						</div>
						<input type="submit" value="ADD">
					</form>
				</table>
			</td>
		</tr>		
	</table>
</center>





{% endblock %}