
	<li style="list-style-type: none;">
		<div style="margin-bottom: 5px">
			<span style="font-size: 8pt">
				{{comment.added_by.username}} | 
				{% if (nowtime - comment.added_time).days < 1 %}
					{% if (nowtime - comment.added_time).seconds/3600 < 1 %}
						{{((nowtime - comment.added_time).seconds/60)|round|int }} minutes ago 
					{% else %}
						{{((nowtime - comment.added_time).seconds/3600)|round|int }} hours ago
					{% endif %}
				{% else %}
					{{(nowtime - comment.added_time).days}} days ago
				{% endif %}
			</span>
			<p style="color: #000000">{{comment.content}}</p>
			<a href="{{url ('hackernews:addreply', comment.linked_to.id, comment.id)}}" style="color: #828282; font-size: 7pt;"> reply </a>
		</div>
		{% if com_list.filter(parent=comment).exists()%}
			<ul>
				{% for node in com_list.filter(parent=comment) %}
					{% with comment = node %}
						{% include "hackernews/comments.jinja" %}
					{% endwith %}
				{% endfor %}
			</ul>
		{% endif %}
	</li>

 