{% extends 'hackernews/base.jinja' %}

{% block content %}

<center>
	<table  class="main_table" >
		{% cache 3600 'main_header' %}
		<tr>
			<td bgcolor="#ff6600">
				<table class="header" cellspacing="0" cellpadding="0" >
					<tr>
						<td class="logo-cell"><a href="{{url ('hackernews:home')}}"><img src="https://news.ycombinator.com/y18.gif" class="logo"></a></td>
						<td> <a href="{{url ('hackernews:home')}}"><strong>Hacker News</strong></a></td>
						<td class="add-new-link" > <a href="{{url ('hackernews:addnewlink')}}">ADD NEW LINK</a></td>
		{% endcache %}
						<td class="username-cell">{{ request.user.username }}
							{% if user.is_authenticated %}
								| <a href="{{url ('hackernews:logout')}}">logout</a>
							{% else %}
								<a href="{{url ('hackernews:login')}}">login</a>
							{% endif %}
						</td>	
					</tr>
				</table>
			</td>
		</tr>
		<tr class="gap"></tr>
		<tr>
			<td>
				<table cellspacing="0" cellpadding="0">
					{% for link in linklist %}
						<tr>
							<td class="numbering">{{loop.index + 30*(linklist.number-1)}}.</td>
								{% if user.is_authenticated %}	
									{% if request.user in link.upvoted_users.all() %}
										<td class="upvote nosee" data-link-id="{{ link.id }}"></td>
									{% else %}
									<td class="upvote" data-link-id="{{ link.id }}">
										<img src="https://news.ycombinator.com/grayarrow.gif">
									</td>
									{% endif %}
								{% else %}
									<td class="upvote-login" data-link-id="{{ link.id }}">
										<a href="{{url ('hackernews:login')}}"><img src="https://news.ycombinator.com/grayarrow.gif"></a>
									</td>
								{% endif %}
							<td><a href="{{link.url}}">{{link.title}}</a><span class="parent">({{link.parent}})</span></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td class="sub-text">
								{{link.votes}} points by {{link.added_by}} | 
								{% if (nowtime - link.added_time).days < 1 %}
									{% if (nowtime - link.added_time).seconds/3600 < 1 %}
										{{((nowtime - link.added_time).seconds/60)|round|int }} minutes ago 
									{% else %}
										{{((nowtime - link.added_time).seconds/3600)|round|int }} hours ago
									{% endif %}
								{% else %}
									{{(nowtime - link.added_time).days}} days ago
								{% endif %}
								| <a href="{{url ('hackernews:commentpage', link.id)}}" style="color: #828282">{{link.comments_set.count()}} comments</a>
							</td>
						</tr>
						<tr class="spacer"></tr>
					{% endfor %}	
					<table width="100%">	
						<tr>
							{% if linklist.has_other_pages %}
								<a href="?page={{ linklist.number+1 }}" class="next-page">More</a>
							{% endif %}
						</tr>
						{% cache 3600 'search_bar' %}
						<tr class="seperator"></tr>
						<tr class="search-row">
							<td class="search">
								<form action="{{url ('hackernews:search')}}" method="get">
									<input type="text" name="search" required id="id_search" maxlength="50" />
									<input type="submit" value="Search"> 
								</form>
							</td>
						</tr>
						{% endcache %}
					</table>
				</table>
			</td>
		</tr>	
	</table>
</center>
	

<script>
	$(".upvote").click(function(){
		var link_id = $(this).attr('data-link-id');
		console.log(link_id);
		$.ajax({
			url: link_id + "/upvote/",
			type:"POST",
			data: {"csrfmiddlewaretoken":"{{csrf_token}}"}
		});
		console.log($(this))
		$(this).addClass("nosee");

	});

</script>

{% endblock %}