body {

    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
}

a, a:hover{
	color: #000000;
	text-decoration: none;
}

p{
	margin-bottom: 2px;
}

.upvote{
	cursor: pointer;
}

.nosee {
    visibility: hidden;
    pointer-events: none;
    cursor: default;
}
.main_table {
	
	margin: 10px;
	width: 85%;
	background-color: #f6f6ef;
}